
.sleeve {
    flex: 1 1 0;
    margin: auto;
  }
  
  .card-p-text{
    -webkit-text-security: disc!important;
    color: hsla(0,0%,100%,.8);
  }
  .credit-card {
    margin: 20px;
    display: flex;
    flex-shrink: 0;
    background: #3BF;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 1px 1px 0 rgba(255,255,255,.3);
    width: 337px;
    height: 219px;
  
  }
  .credit-card .card-company {
      position: absolute;
      width: 60px;
      height: 45px;
    
      left: 20px;
      background: linear-gradient(
  135deg
  , #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
      border-radius: 8px;
  }
     
  .card-type, .card-company {
    text-align: right;
    text-transform: uppercase;
    margin: 10px;
    color: rgba(0,0,40,.5);
  }
  
  .card-company {
    font-family: Georgia, Garamond;
    box-shadow:  inset 1px 0 0 rgba(255,255,255,.3);
    font-weight: normal;
    padding: 10px;
    background: #C32;
    color: #FB0;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px 0;
  }
  
  .card-number, .card-expire, .card-holder {
    display: flex;
    margin: 5px;
    justify-content: center;
    font-family: monospace;
    font-size: 24px;
    color: rgba(255,255,255,.8);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
  }
    .digit-group {
      margin: 5px;
    }
  
  .card-expire, .card-holder {
    font-size: 16px;
    justify-content: flex-start;
    padding: 0 20px;
  }
    .card-text {
      font-size: 12px;
      font-family: sans-serif;
      color: #000;
      color: rgba(0,0,40,.5);
      text-shadow: none;
      margin: 3px;
      margin-left: 10px;
    }
  
  
  .card-type {
    margin-top: auto;
    font-size: 14px;
  }